@model DetailsVM

@{
	Layout = "~/Views/Shared/_ItemLayout.cshtml";
}

<form asp-controller="Home" asp-action="AddToCart" method="post">
<div class="row gx-4 gx-lg-5 align-items-center">
    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.Img.Replace('\\', '/')" alt="..."  width="600" height="700"/></div>
    <div class="col-md-6">
        <div class="small mb-1">SKU: BST-498</div>
            <h1 class="display-5 fw-bolder">@Model.ProductName</h1>
        <div class="fs-5 mb-5">
            <span class="text-decoration-line-through">@Model.Price</span>
            <span>$40.00</span>
        </div>
        <p class="lead">@Model.Description</p>
        <div class="d-flex">
            <input class="form-control" hidden asp-for="ProductId" value="@Model.ProductId" />
            <input class="form-control text-center me-3" asp-for="CartCount" style="max-width: 3rem" />
            <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                <i class="bi-cart-fill me-1"></i>
                Add to cart
            </button>
        </div>
    </div>
</div>
</form>